In [6]:
f = open('data.csv','r')
data = f.read()
f.close()

data = data.split('\n')

In [7]:
final_data = []
for index, row in enumerate(data):
    row = row.split('\t')
    final_data.append(row)

In [8]:
import pandas as pd

df = pd.DataFrame(final_data)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,162,163,164,165,166,167,168,169,170,171
0,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,screensize,uniquenetworklocation,hand,religion,orientation,race,voted,married,familysize,major
1,4,28,3890,4,25,2122,2,16,1944,4,...,1,1,1,12,1,10,2,1,2,
2,4,2,8118,1,36,2890,2,35,4777,3,...,2,1,2,7,0,70,2,1,4,
3,3,7,5784,1,33,4373,4,41,3242,1,...,2,1,1,4,3,60,1,1,3,
4,2,23,5081,3,11,6837,2,37,5521,1,...,2,1,2,4,5,70,2,1,5,biology

In [9]:
df.to_csv('final_data.csv', index=False, header=False)

In [10]:
df = pd.read_csv('final_data.csv')
df.head()

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,screensize,uniquenetworklocation,hand,religion,orientation,race,voted,married,familysize,major
0,4.0,28.0,3890.0,4.0,25.0,2122.0,2.0,16.0,1944.0,4.0,...,1.0,1.0,1.0,12.0,1.0,10.0,2.0,1.0,2.0,NaN
1,4.0,2.0,8118.0,1.0,36.0,2890.0,2.0,35.0,4777.0,3.0,...,2.0,1.0,2.0,7.0,0.0,70.0,2.0,1.0,4.0,NaN
2,3.0,7.0,5784.0,1.0,33.0,4373.0,4.0,41.0,3242.0,1.0,...,2.0,1.0,1.0,4.0,3.0,60.0,1.0,1.0,3.0,NaN
3,2.0,23.0,5081.0,3.0,11.0,6837.0,2.0,37.0,5521.0,1.0,...,2.0,1.0,2.0,4.0,5.0,70.0,2.0,1.0,5.0,biology
4,2.0,36.0,3215.0,2.0,13.0,7731.0,3.0,5.0,4156.0,4.0,...,2.0,2.0,3.0,10.0,1.0,10.0,2.0,1.0,4.0,Psychology

In [16]:
for i in df.columns:
    if 'A' not in i:
        df = df.drop([i], axis = 1)

df.head()

,Q1A,Q2A,Q3A,Q4A,Q5A,Q6A,Q7A,Q8A,Q9A,Q10A,...,Q33A,Q34A,Q35A,Q36A,Q37A,Q38A,Q39A,Q40A,Q41A,Q42A
0,4.0,4.0,2.0,4.0,4.0,4.0,4.0,4.0,2.0,1.0,...,2.0,3.0,4.0,4.0,1.0,2.0,4.0,3.0,4.0,4.0
1,4.0,1.0,2.0,3.0,4.0,4.0,3.0,4.0,3.0,2.0,...,3.0,2.0,2.0,3.0,4.0,2.0,2.0,1.0,2.0,2.0
2,3.0,1.0,4.0,1.0,4.0,3.0,1.0,3.0,2.0,4.0,...,1.0,4.0,3.0,4.0,4.0,4.0,2.0,2.0,1.0,4.0
3,2.0,3.0,2.0,1.0,3.0,3.0,4.0,2.0,3.0,3.0,...,2.0,4.0,1.0,1.0,2.0,1.0,3.0,4.0,4.0,2.0
4,2.0,2.0,3.0,4.0,4.0,2.0,4.0,4.0,4.0,3.0,...,4.0,4.0,3.0,4.0,3.0,3.0,3.0,4.0,4.0,3.0

In [24]:
#anxiety 2,4,41,28,25,40,20
#depression 3,42,10,26,31,38
#stress 6,22,12,39,8,35,18
a = ['Q2A','Q4A','Q41A','Q28A','Q25A','Q40A','Q20A']
d = ['Q3A','Q42A','Q10A','Q26A','Q31A','Q38A']
s = ['Q6A','Q22A','Q12A','Q39A','Q8A','Q35A','Q18A']

a_df = df[a]
a_df['sum_a'] = a_df.iloc[:,0:].sum(axis=1)
df['sum_a'] = a_df['sum_a']

d_df = df[d]
d_df['sum_d'] = d_df.iloc[:,0:].sum(axis=1)
df['sum_d'] = d_df['sum_d']

s_df = df[s]
s_df['sum_s'] = s_df.iloc[:,0:].sum(axis=1)
df['sum_s'] = s_df['sum_s']

df.head()

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Q1A,Q2A,Q3A,Q4A,Q5A,Q6A,Q7A,Q8A,Q9A,Q10A,...,Q36A,Q37A,Q38A,Q39A,Q40A,Q41A,Q42A,sum_a,sum_d,sum_s
0,4.0,4.0,2.0,4.0,4.0,4.0,4.0,4.0,2.0,1.0,...,4.0,1.0,2.0,4.0,3.0,4.0,4.0,25.0,17.0,28.0
1,4.0,1.0,2.0,3.0,4.0,4.0,3.0,4.0,3.0,2.0,...,3.0,4.0,2.0,2.0,1.0,2.0,2.0,14.0,13.0,19.0
2,3.0,1.0,4.0,1.0,4.0,3.0,1.0,3.0,2.0,4.0,...,4.0,4.0,4.0,2.0,2.0,1.0,4.0,9.0,21.0,17.0
3,2.0,3.0,2.0,1.0,3.0,3.0,4.0,2.0,3.0,3.0,...,1.0,2.0,1.0,3.0,4.0,4.0,2.0,16.0,13.0,12.0
4,2.0,2.0,3.0,4.0,4.0,2.0,4.0,4.0,4.0,3.0,...,4.0,3.0,3.0,3.0,4.0,4.0,3.0,26.0,19.0,23.0

In [32]:
def label_fn (row):
    if (row['sum_a'] >= row['sum_d']) and (row['sum_a'] >= row['sum_s']):
        return 'anxiety'
    elif (row['sum_d'] >= row['sum_a']) and (row['sum_d'] >= row['sum_s']):
        return 'depression'
    else:
        return 'stress'

In [33]:
df['label'] = df.apply(lambda row: label_fn(row), axis=1)
df.head()

,Q1A,Q2A,Q3A,Q4A,Q5A,Q6A,Q7A,Q8A,Q9A,Q10A,...,Q37A,Q38A,Q39A,Q40A,Q41A,Q42A,sum_a,sum_d,sum_s,label
0,4.0,4.0,2.0,4.0,4.0,4.0,4.0,4.0,2.0,1.0,...,1.0,2.0,4.0,3.0,4.0,4.0,25.0,17.0,28.0,stress
1,4.0,1.0,2.0,3.0,4.0,4.0,3.0,4.0,3.0,2.0,...,4.0,2.0,2.0,1.0,2.0,2.0,14.0,13.0,19.0,stress
2,3.0,1.0,4.0,1.0,4.0,3.0,1.0,3.0,2.0,4.0,...,4.0,4.0,2.0,2.0,1.0,4.0,9.0,21.0,17.0,depression
3,2.0,3.0,2.0,1.0,3.0,3.0,4.0,2.0,3.0,3.0,...,2.0,1.0,3.0,4.0,4.0,2.0,16.0,13.0,12.0,anxiety
4,2.0,2.0,3.0,4.0,4.0,2.0,4.0,4.0,4.0,3.0,...,3.0,3.0,3.0,4.0,4.0,3.0,26.0,19.0,23.0,anxiety

In [36]:
df = df.drop(['sum_a', 'sum_d', 'sum_s'], axis = 1)
df.to_csv('labeled_data.csv', index=False)